@model WebApplication2.Models.BuyVoucherViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BuyVoucherViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VendorSelect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorSelect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmoutToLoad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmoutToLoad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoadTxId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoadTxId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoucherGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoucherGuid)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
