<!DOCTYPE html>
<html>
<head>
    <title>One-Voucher</title>
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/inner.css")
    @Styles.Render("~/Content/reveal.css")
    @Styles.Render("http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,800")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function MM_preloadImages() { //v3.0
            var d = document; if (d.images) {
                if (!d.MM_p) d.MM_p = new Array();
                var i, j = d.MM_p.length, a = MM_preloadImages.arguments; for (i = 0; i < a.length; i++)
                    if (a[i].indexOf("#") != 0) { d.MM_p[j] = new Image; d.MM_p[j++].src = a[i]; }
            }
        }

        function MM_swapImgRestore() { //v3.0
            var i, x, a = document.MM_sr; for (i = 0; a && i < a.length && (x = a[i]) && x.oSrc; i++) x.src = x.oSrc;
        }

        function MM_findObj(n, d) { //v4.01
            var p, i, x; if (!d) d = document; if ((p = n.indexOf("?")) > 0 && parent.frames.length) {
                d = parent.frames[n.substring(p + 1)].document; n = n.substring(0, p);
            }
            if (!(x = d[n]) && d.all) x = d.all[n]; for (i = 0; !x && i < d.forms.length; i++) x = d.forms[i][n];
            for (i = 0; !x && d.layers && i < d.layers.length; i++) x = MM_findObj(n, d.layers[i].document);
            if (!x && d.getElementById) x = d.getElementById(n); return x;
        }

        function MM_swapImage() { //v3.0
            var i, j = 0, x, a = MM_swapImage.arguments; document.MM_sr = new Array; for (i = 0; i < (a.length - 2) ; i += 3)
                if ((x = MM_findObj(a[i])) != null) { document.MM_sr[j++] = x; if (!x.oSrc) x.oSrc = x.src; x.src = a[i + 2]; }
        }
    </script>
</head>
    <body>
        <header>
            <div class="main">
                <div class="header_wrapper">
                    <div class="logo"><a href="~/Home/Index"><img src="~/Images/logo.png" width="211" height="89" alt="logo"></a></div><!--logo-->
                    <div class="social_dv">
                        <img src="~/Images/social-icons.png" border="0" usemap="#Map">
                        <map name="Map">
                            <area shape="rect" coords="3,3,46,42" href="#">
                            <area shape="rect" coords="56,4,97,43" href="#">
                            <area shape="rect" coords="110,3,153,44" href="#">
                            <area shape="rect" coords="165,3,208,42" href="#">
                        </map>
                    </div><!--logo-->
                </div><!--header_wrapper-->
            </div><!--main--->
            <div class="main">
                <div class="navigation">
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Buy Voucher", "Buy", "BuyVoucher")</li>
                        <li>@Html.ActionLink("Check Balance", "Check", "BuyVoucher")</li>
                        <li>@Html.ActionLink("Merchants", "Index", "Merchant")</li>
                        <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div><!--navigation-->
            </div><!--main-->
        </header>
        @RenderBody()
        <div class="footer">
            <div class="main">
                <div class="copyright">
                    © Copyright 2013 by <a href="#">One-Voucher.</a> All rights reserved.
                </div><!--copyright-->
                <div class="design_by">
                    Design by:  <a href="#">Vigilant Software</a>
                </div><!--design_by-->
            </div><!--main-->
        </div>
     </body>
</html>
